html {
    background: #363636;
}
body{
  font-family: 'Barlow Condensed', sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

#fondom {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  text-align: center;
  background: #ffffffa2;
}
a.iniciar, a.registrar {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  padding: 4%;
  margin: 20 px 8px 10px 8px; 
  color: #000000;
}

a.contraseña{
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

a.recu{
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #363636;
  color: white;
  padding: 15px 80px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background: #1f1f1f;
}

input[type=text] {
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type=password] {
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

