body {


	margin: 0px;
	background: #333333;

}

.animation{
   position: absolute;
   top:50%
   left: 100%;
   margin-top: 100px;
   margin-left: 100px;

   animation-name: ham;
   animation-duration: .8s;
   animation-timing-function: lineal;
   animation-iteration-count: infinite;
   animation-direction: alternate;



}
@keyframes ham{
	from{
		transform: scale(1);

	}
	to{
		transform: scale(1.1);
	}


}
